--- 
# Only the main Sass file needs front matter (the dashes are enough) 
--- 

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// https://github.com/mmistakes/minimal-mistakes/issues/1219#issuecomment-326809412
html {
    font-size: 10px; // originally 16px
    @include breakpoint($small) {
        font-size: 8px; // originally 18px
    }

    @include breakpoint($medium) {
        font-size: 10px; // originally 18px
    }

    @include breakpoint($large) {
        font-size: 14px; // originally 20px
    }

    @include breakpoint($x-large) {
        font-size: 16px; // originally 22px
    }
}


